language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

branches:
  only:
      - master
	  - develop

before_script:
  - composer install
  - php app/console doctrine:database:create
  - php app/console doctrine:schema:create

after_script:
  - php app/console doctrine:database:drop --force

script: bin/phpunit -c app
